* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Syne", sans-serif;
    background-color: #f5f7fa;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #0077b6;
    color: white;
    text-align: center;
    padding: 60px 0;
}

.header h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.header p {
    font-size: 18px;
    margin-bottom: 20px;
}

.events-section {
    padding: 40px 0;
}

.events-section h2 {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
    color: #333;
}

.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 3px;
}

.event-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-info h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #00b4d8;
}

.event-info p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #666;
   
}

.register-btn {
    background-color: #00b4d8;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-btn:hover {
    background-color: #00b4d8;
}

.footer {
    background-color: #0077b6;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
